body {
    padding-bottom: 20px;
}

h4 {
    color: grey;
}

.title {
    width: 20%;
    margin: 0 auto;
}

.action {
    color: black;
    margin-top: 15px;
}

table {
    width: 100%;
    margin-top: 15px;
}

th {
    background-color: #d0d0d0;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

th:first-child {
    text-align-last: left;
    padding-left: 10px;
}

td{
    background-color: #eeeeff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

td:first-child {
    text-align-last: left;
    padding-left: 10px;
}

td:last-child {
    text-transform: none;
}

.is-not-finished {
    background-color: #ffeeff;
    width: 10%;
}

.is-finished {
    background-color: #eeffee;
    width: 10%;
}

.holder {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    padding-top: 0;
}

.label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.submit {
    margin-top: 15px;
}

.navbar-inner {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.navbar-name {
    text-decoration: none;
    margin: 0;
    color: #808080;
    font-size: 18px;
    transition: all .1s;
}

.navbar-name:hover {
    color: #000;
    transition: all .3s;
}
