{% extends "base.html" %}

{% block content %}
<h3 class="title">Works log</h3>
{% if current_user.is_authenticated %}
    <a href="{{ url_for('add_job') }}" class="btn btn-secondary">Add Job</a>
{% endif %}
<a href="{{ url_for('departments') }}" class="btn btn-secondary">Go to Departments</a>
{% for job, user in records %}
<a href="/job/{{ job.id }}" class="link"><h4 class="action">Action #{{ loop.index }}</h4></a>
<div class="table-wrapper">
    <table>
        <tr>
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List of collaborators</th>
            <th>Hazard category</th>
            <th>is finished</th>
        </tr>
            <tr>
                <td style="width: 40%;">{{ job.job }}</td>
                <td>{{ user.surname }} {{ user.name }}</td>
                <td>{{ job.work_size }} hours</td>
                <td>{{ job.collaborators }}</td>
                <td>
                    {% if job.categories %} {{ job.categories[0].id }} - {{ job.categories[0].title }}
                    {% else %} 1 - basic
                    {% endif %}
                </td>
                {% if job.is_finished %}
                    <td class="is-finished">Finished</td>
                {% else %}
                    <td class="is-not-finished">Not Finished</td>
                {% endif %}
            </tr>
    </table>
    {% if current_user.id == 1 or current_user.id == job.team_leader %}
    <div class="footer-wrapper">
        <a href="/job/{{ job.id }}" class="btn btn-warning">Edit</a>
        <a href="/deljob/{{ job.id }}" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
