{% extends "base.html" %}

{% block content %}
<h3 class="title">Works log</h3>
{% for job, user in records %}
<h4 class="action">Action #{{ loop.index }}</h4>
<table>
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>is finished</th>
    </tr>
        <tr>
            <td style="width: 40%;">{{ job.job }}</td>
            <td>{{ user.surname }} {{ user.name }}</td>
            <td>{{ job.work_size }} hours</td>
            <td>{{ job.collaborators }}</td>
            {% if job.is_finished %}
                <td class="is-finished">is finished</td>
            {% else %}
                <td class="is-finished">is not finished</td>
            {% endif %}
        </tr>
</table>
{% endfor %}
{% endblock %}
